<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-toolbar>
  <ion-title>Qual foi a temperatura do primeiro dia do mês?</ion-title>
</ion-toolbar>

<ion-range [(ngModel)]="tempDiaUm" min="-10" max="35" [pin]="true" [pinFormatter]="pinFormatter"></ion-range>

<ion-toolbar>
  <ion-title>Qual foi a temperatura do segundo dia do mês?</ion-title>
</ion-toolbar>

<ion-range [(ngModel)]="tempDiaDois" min="-10" max="35" [pin]="true" [pinFormatter]="pinFormatter"></ion-range>

<ion-toolbar>
  <ion-title>Qual foi a temperatura do terceiro dia do mês?</ion-title>
</ion-toolbar>

<ion-range [(ngModel)]="tempDiaTres" min="-10" max="35" [pin]="true" [pinFormatter]="pinFormatter"></ion-range>

<ion-toolbar>
  <ion-title>Qual foi a temperatura do quarto dia do mês?</ion-title>
</ion-toolbar>

<ion-range [(ngModel)]="tempDiaQuatro" min="-10" max="35" [pin]="true" [pinFormatter]="pinFormatter"></ion-range>

<ion-button (click)="checarCulturas()" expand="block">Conferir Frutas</ion-button>
</ion-content>
